[run]
source = .
disable_warnings = include-ignored

omit =
    */__init__.py
    */manage.py
    */asgi.py
    */settings.py
    */urls.py
    */wsgi.py
    */migrations/*
    */tests/*
    */admin.py
    */apps.py
    */views.py
    api/models.py

include =
    */entities/*
    */services/*
    */serializers/*
    */views/*

[report]
show_missing = true
